[mysqld]
binlog_format              = ROW
binlog_row_image           = FULL
server-id                  = 108
log-bin                    = mysql-bin
binlog_rows_query_log_events = ON
log_bin_trust_function_creators = 1
block_encryption_mode      = 'aes-128-ecb'
